body {
    /* height: 100vh; */
    /* width: 75vw; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
}

#bulma-vue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100vw;
}

.navbar-burger {
    margin-top: 5px;
}

.level {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
}

.level-item {
    margin-bottom: .75rem;
}

.coin-stats--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.coin-cards {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.coin-card {
    width: 30vw;
    margin-bottom: 1.5rem;
}

.coin-card--logo {
    transition: all .25s ease-out;
}

.coin-card--logo:hover {
    cursor: pointer;
    border: 5px dashed #00ff00;
    border-radius: 50%;
}

.coin-card--logo:active {
    cursor: pointer;
    border: 5px dotted #ff0000;
    border-radius: 50%;
}

.coin-card--content-container {
    margin-top: 1em;
}

.coin-card--content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 700;
}

.coin-card--content span {
    font-size: 1em;
    font-weight: 100;
}

@media screen and (max-width: 1024px) {
    .level {
        width: 95vw;
    }

    .coin-cards {
        width: 95vw;
    }

    .coin-card {
        width: 45%;
    }
}


@media screen and (max-width: 700px) {
    .level {
        flex-wrap: wrap;
    }

    .level-item {
        width: 50%;
    }

    .coin-cards {
        flex-direction: column;
    }

    .coin-card {
        width: 95vw;
    }
}