body {
    /* height: 100vh; */
    /* width: 75vw; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
}

#bulma-vue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100vw;
}

.navbar-burger {
    margin-top: 5px;
}

.level {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
}

.level-item {
    margin-bottom: .75rem;
}

.coin-stats--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.coin-cards {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.coin-card {
    width: 30vw;
    margin-bottom: 1.5rem;
    transition: all .25s ease-out;
}

.coin-card:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px #ccc;
}

.coin-card:active {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 5px 5px 3px #666;
}

.coin-card--content-container {
    margin-top: 1em;
}

.coin-card--content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 700;
}

.coin-card--content span {
    font-size: 1em;
    font-weight: 100;
}

.coins-owned-container {
    display: flex;
    flex-direction: column;
}

.coins-owned-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .75rem;
    transition: all .15s ease-in;
}

.coins-owned-item:hover {
    background: rgba(0, 255, 0, .3);
    cursor: pointer;
    border: 1px solid (0, 255, 0, .3);
    border-radius: 1rem;
}

.coins-owned-item:active {
    background: rgba(96, 214, 96, 0.7);
    cursor: pointer;
    border: 1px solid (0, 255, 0, .3);
    border-radius: 1rem;
}

.data-update-modal--update-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.coins-owned-item--section {
    width: 25%;
}

.subtitle:not(:last-child) {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .level {
        width: 95vw;
    }

    .coin-cards {
        width: 95vw;
    }

    .coin-card {
        width: 45%;
    }
}


@media screen and (max-width: 700px) {
    .level {
        flex-wrap: wrap;
    }

    .level-item {
        width: 50%;
    }

    .coin-cards {
        flex-direction: column;
    }

    .coin-card {
        width: 95vw;
    }

    .modal-card {
        margin: 0 auto;
    }

    .coins-owned-item {
        padding: .75rem 0;
    }

    .coins-owned-item > figure {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .coins-owned-item > figure > img {
        width: 24px;
        height: 24px;
    }

    .coins-owned-item > p.subtitle.is-6 {
        font-size: .9rem;
    }
}